#home{
	padding-bottom: 110px;
}

#resume{
	padding: 40px 0px 40px 0px;
	align-content: center;
}

#bannerimg{
	margin: auto;
	padding: 40px 0px 40px 100px;
}
#banner{
		background-color: rgba(37,66,122,0.66);
		margin-bottom: 20px;
}

body{
	background-image: url("../images/1unsplash.jpg");

}

#bio{
	float: right;
	padding: 0px 30px 30px 30px;
}

#body{
	padding-left: 190px;
	background-color:rgba(220,95,60,0.30);
	padding-bottom: 60px;
}

nav{
	border-color: white;
	background-color: #25427A;
	clear: left;
	float: left;
	width: 160px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 5px;
	margin-right: 15px;
}
nav a {
	margin: 0;
	padding: 10px;
	line-height: 1.5em;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5em;
	color: #FFFFFF;	
}
li {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:white;
	font-weight: 600;	
}
a:link, a:visited {
	color:cornflowerblue;
	text-decoration: none
} 
a:active, a:hover {
	color: rosybrown;
	text-decoration: underline
}
h1{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:white;
	font-weight: 600;
	
}

h2{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:white;
	font-weight: 600;
}

p{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:white;
	font-weight: 600;
}

footer {
	text-align: center;
	background-color:#25427A;
	font-size: 15px;
	border: rosybrown groove 8px;

}
footer p {
	color: cornflowerblue;
	padding: 5px 0px 10px 0px;
}
.example {
	height: 450px
}
/* CSS Document */

